div.form-group {
    width: 50%;
    height: 95vh;
    padding: 20px;

    .CodeMirror,
    .output {
        width: 100%;
        font-size: 1.6em;
        border: 1px solid black;
    }

    .CodeMirror {
        height: 75vh;
    }

    .output {
        height: 75vh;
        overflow: scroll;
        padding: 7px;

        pre {
            background-color: #ccc;
        }
    }
}

.navbar-nav {
    padding: 0 15px;
    font-size: 1.3em;
}